@model IEnumerable<KingFashion.Models.Products.Product>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-out-dashed btn-success btn-square" asp-controller="Product" asp-action="Create"><i class="ti-plus"></i>Thêm Mới Sản Phẩm</a>
</p>
<table class="table table-hover" id="tbProduct">
    <thead style="background:black;color:white">
        <tr>
            <th>
                #
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
               Giá
            </th>
            <th>
                Giãm Giá
            </th>
            <th>
                Số Lượng
            </th>
            <th>
               Bán Tại Cửa Hàng
            </th>
            <th>
                Nội Dung
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @if (item.Shop)
                    {
                        <a href="javascript:;" class="btn btn-warning btn-sm" style="background-color:#33d176; border-color:#33d176"
                           title="Sẵn Có" onclick="product.changeShop(@item.Id, @item.Shop.ToString().ToLower())">
                            Sẵn Có
                        </a>

                    }
                    else
                    {
                        <a href="javascript:;" class="btn btn-warning btn-sm"
                           title="Hết Hàng" onclick="product.changeShop(@item.Id, @item.Shop.ToString().ToLower())">
                            Hết Hàng
                        </a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <img class="img-fluid img-thumbnail img-lg" src="~/images/@item.Photo.Split(" ")[1]">
                </td>
                <td>
                    <a class='btn btn-sm btn-secondary btn-sm' href="/Product/Update/@item.Id" title="Sửa sản phẩm"><i class="ti-pencil"></i></a> 
                    <a class='btn btn-info btn-mat btn-sm' asp-controller="Product" asp-action="ViewDetails" asp-route-proId="@item.Id" title="Xem sản phẩm"><i class="ti-eye"></i></a> 
                    <a href="javascript:;" class="btn btn-danger btn-sm" onclick="product.changeShop(@item.Id, @item.Shop.ToString().ToLower())"><i class="ti-trash"></i></a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {

    <script src="~/js/changeShopProduct.js" asp-append-version="true"></script>
    <script>
        $('#tbProduct').DataTable({
            columnDefs: [
                { orderable: false, targets: [2,3,4,5,6,7,8,9] }
            ],
            order: [[0, 'desc']]
        });
    </script>
}
