@model IEnumerable<KingFashion.Models.Products.Product>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-out-dashed btn-success btn-square" asp-controller="Product" asp-action="Create"><i class="ti-plus"></i>Create New</a>
</p>
<table class="table table-hover" id="tbProduct">
    <thead style="background:black;color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <img class="img-fluid img-thumbnail img-lg" src="~/images/@item.Photo.Split(" ")[1]">
                </td>
                <td>
                    <a class='btn btn-sm btn-secondary btn-sm' href="/Product/Update/@item.Id" title="Sửa sản phẩm"><i class="ti-pencil"></i></a> 
                    <a class='btn btn-info btn-mat btn-sm' asp-controller="Product" asp-action="ViewDetails" asp-route-proId="@item.Id" title="Xem sản phẩm"><i class="ti-eye"></i></a> 
                    <a class='btn btn-danger btn-mat btn-sm' title="Xem sản phẩm"><i class="ti-trash"></i></a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {

    <script src="~/js/category.js" asp-append-version="true"></script>
    <script>
        $('#tbProduct').DataTable({
            columnDefs: [
                { orderable: false, targets: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] }
            ],
            order: [[0, 'desc']]
        });
    </script>
}
